html,body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #001935;
}

body {
    display: grid;
    grid-template-rows: 4em auto;
}

body :first-child {
    margin: 0;
    padding: 0;
}

.nav {
    height: 4em;
    background: #001935;
}

.nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.nav ul li {
    align-self: center;
    text-align: center;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 1em;
    background: #002b5c;
    color: white;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.lookup-container {
    grid-template-rows: auto auto auto 1fr;
}

.lookup-container tr td:first-child {
    color: #fbab1a;
    font-weight: bold;
}

.charter-container {
    grid-template-rows: auto 1fr;
}

.account-container {
    grid-template-rows: 1fr;
    animation: login 2s linear 0s infinite alternate;
}

.charter-container textarea {
    width: calc(100% - 1em);
    height: 7em;
    padding: 0.5em;
    align-self: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.board .listing {
    background: rgba(0, 0, 0, 0.37);
    margin: 0.5em;
    padding: 0.7em;
    border-radius: 0.7em;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.board .listing:hover {
    background: rgba(0, 0, 0, 0.5);
}

.list {
    background: rgba(0, 0, 0, 0.37);
    padding: 1em;
    width: calc(100% - 2em);
    margin: 0 auto;
    border-radius: 0.7em;
}

.list tr {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0.5em;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.list tr:not(.singular):not(:first-child):hover {
    color: #fbab1a;
}

.lookup {
    background: none;
}

.inline-input {
    column-gap: 0.5em;
    display: grid;
    grid-template-columns: auto 1fr;
}

.charter {
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}

.left, .right {
    display: grid;
    grid-template-rows: 200px 200px auto;
}

.charter h2 {
    margin: 0.2em 0;
}

.box {
    background: rgba(0,0,0,0.37); 
    border-radius: 0.7em;
    margin: 0.5em 0!important; 
    padding: 1em!important;
}

.box label {
    font-weight: bold;
}

.charter table {
    width: 100%;
    /* border: 1px solid black; */
    padding: 0!important;
    /* background: none; */
}

.charter table td, .charter table th {
    width: 50%;
    padding: 1em;
}

tr.singular {
    background: rgba(0, 0, 0, 0.37);
    margin: 0.5em;
    align-items: center;
    border-radius: 0.7em;
    height: 4em;
}

tr.singular {
    transition: background 0.3s ease-in-out;
}

tr.singular:hover {
    background: rgba(0, 0, 0, 0.5);
}


tr[hidden] {
    display: none!important;
}

.dashboard {

    align-self: center;
    text-align: center;

}

#login-hint {

    margin: 0 auto!important;
    display: block;
    align-self: center;
    width: fit-content;
    max-width: 500px;

}

.floater {
    position: sticky;
    left: 90%;
    bottom: 10px;
    width: fit-content;
}

button {
    background: #021c3a;
    color: white;
    border: 2px solid white;
    margin: 0.2em;
    padding: 1em!important;
    border-radius: 0.7em;
    outline: none!important;
    transition: background 0.1s ease-in-out;
    cursor: pointer;
}

.remove {
    float: right;
    color: #aa0000;
    cursor: pointer;
}

.add {
    float: right;
    color: #00aa00;
    cursor: pointer;
}

button:active {
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1170px) {

    .board {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (max-width: 950px) {

    .board {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 800px) {

    .charter {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    .left div:first-child, .right div:first-child {
        align-self: center;
    }

}

@media (max-width: 575px) {

    .board {
        grid-template-columns: 1fr;
    }

}

@keyframes login {

    from {
        background: #002b5c;
    }
    to {
        background: #001c3b;
    }

}

.loading-screen {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #001935;
    display: grid;
    align-content: center;
}

.loading-screen-disappear {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #001935;
    display: grid;
    animation: fade 0.5s ease-in 1;
    align-content: center;
}

.loading-logo {
    border: 16px solid #002b5c;
    border-top: 16px solid #fbab1a;
    border-bottom: 16px solid #fbab1a;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1s ease-in infinite;
    align-self: center;
    margin: 0 auto!important;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}